.home-header{
    padding: 10px 20px;
    margin-bottom: 10px;
    background: #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    margin: 0;
    padding: 6px 8px;
}

.home-header .header-plus,
.home-header .header-arrow{
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width : 800px) {
    .home-header{
        border-right: 1px solid #787878;
    }
}