.itemFriend-container{
    display: flex;
    flex-direction: column;
}

.itemFriend-container .user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.itemFriend-container.added{
   display: none;
}