.itemFriend-container{
    display: flex;
    flex-direction: column;
}

.itemFriend-container .user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* .itemFriend-container .divider{
    width: 90%;
    margin: 0 auto;
} */